<div class="navbar navbar-inverse" role="navigation" margin-bottom="0">
    <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% if current_user.is_authenticated%}
    <a class="navbar-brand" href="/home">PITCH</a>
    {% else %}
    <a class="navbar-brand" href="/">PITCH</a>
    {% endif %}
    <br>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    CATEGORIES
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/category/Interview-Pitch">Interview Pitch</a>
                    <a class="dropdown-item" href="/category/Promotion-Pitch">Promotion Pitch</a>
                    <a class="dropdown-item" href="/category/Business">Business Pitch</a>
                    <a class="dropdown-item" href="/category/Academic">Academic Pitch</a>
                    <a class="dropdown-item" href="/category/Political">Political Pitch</a>
                   
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{url_for('main.profile', uname = current_user.username, id_user = current_user.id)}}">{{current_user.username|capitalize}}</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            {% if current_user.is_authenticated%}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('main.profile', uname = current_user.username, id_user = current_user.id)}}">{{current_user.username|capitalize}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.logout')}}">
                    <i class="fa fa-sign-out"></i> Sign Out</a>
            </li>
            {% else %}
            
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.login')}}">
                    LOG IN</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.register')}}">
                 SIGN UP</a>
            </li>
            {% endif %}
        </ul>
    </div>
    </nav>
    </div>
</div>